.container {
  height: calc(100vh - 100px);
  background-color: #d1411e;
  overflow: hidden;
  position: relative;
}

.arrowContainer {
  position: absolute;
  width: 10%;
  height: 20%;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  z-index: 2;
}

.wrapper {
  width: 300vw;
  height: 100%;
  display: flex;
  transition: all 1.5s ease-in-out ;
}

.imgContainer {
  width: 100vw;
  height: 100%;
  position: relative;
}

.promo {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 20%;
    transform: translateX(-240px);
    color: #fff;
    font-size: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    padding-bottom: 40px;
    width: 40%;
    border-radius: 15px;
    backdrop-filter: blur(2px);
}

@media screen and (max-width: 480px) {
  .container{
    height: 50vh;
  }
}